.Body {
  position: relative;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.Body-container {
  display: flex;
  padding: 20px;
  min-height: 48px;
}

.Body-search-container {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.Body-extra {
  display: flex;
  align-items: center;
}

.Body-floating-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
