.Header {
  background-color: #0097A7;
  height: 100px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px -5px #333;
}

.Header-title {
  font-size: 3em;
}
