.Modal-container {
  display: flex;
}

.Modal-row {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.Modal-row > span {
  height: 48px;
  line-height:49px;
}

.Modal-text {
  color: #BDBDBD;
  margin-right: 10px;
}

.Modal-time {
  margin: 15px 0 15px 0;
  border-style: none;
}
