.Tile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  font-size: 14px;
  padding: 15px;
}

.Tile-container > img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Tile-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Tile-title-container {
  display: flex;
  align-items: center;
}

.Tile-title {
  font-size: 16px;
  font-weight: bold;
  max-width: 185px;
}

.Tile-url {
  margin-top: 8px;
  width: 280px;
}

.Tile-author {
  width: 210px;
}

.Tile-container-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Tile-row {
  display: flex;
  margin-top: 8px;
}

.Tile-row-title {
  font-weight: bold;
  width: 60px;
}

.Tile-text {
  vertical-align: middle;
  line-height: 18px;
}

.Tile-tags-container {
  display: flex;
  flex-wrap: wrap;
}

.Tile-icon  > * > button {
  padding: 0;
}
